---
layout: base.njk
---

<h1>hello! i'm louis 👋</h1>
<h2>i make things <del>on the internet</del> everywhere sometimes</h2>
<p> <a href="https://tiktok.com/@louismitc" class="button1">tiktok</a><a href="https://instagram.com/louismitc" class="button1">instagram</a> </p>

<br>


<div class=links>
    <h3>links + things i do </h3>
    <a href="https://4zzz.org.au/news/" class=button2>📻  4zzz zedlines</a>
    <a href="https://tiktok.com/@sdeqst/" class=button2>🎥  sdeqst</a>
    <a href="https://www.tiktok.com/@theclimatecouncil/video/7248833268374572296/" class=button2>💨  climate council: get the facts on gas</a>
    <a href="https://portfolio.louis.fyi/" class=button2>🔎  portfolio</a>
</div>